*{
  padding: 0;
    margin: 0;
    font-family: 'MuseoModerno';
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
header{
  position: fixed;
  z-index:1000 ;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 9%;
  background-color: #ffffff;
}
.black-img{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(./img/manifestação.jfif);

}


.logo{
  display: flex;
  align-items: center;
  color: #323112;
  font-size: 40px;
  font-weight: bold;
}
.menu{
  display: flex;
}

.menu a{
  font-size: var(--p-font);
  color: var(--text-color);
  font-weight: 600;
  margin: 0 35px;
  transition: all ease 1s;
}

.menu a:hover{
  color: #ffffff;


}
section{
  padding: 0 12%;
}
content{
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}

.content-text h1{
  font-size: var(--big-font);
  line-height: 1.3;
  font-weight: 800;
  padding-top: 150px;
  font-size: 40px;
}


.content-text p{
  color: var(--other-color);
  font-size: var(--p-font);
  font-weight: 500;
  line-height: 26px;
  max-width: 500px;
  margin-bottom: 4rem;
  padding:40px;
  padding-left: 10px;
}

.cantores{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100vh;
}

.cantores-img img{
  padding-top: 150px;
  max-width: 100%;
  height: 500px;
  
}
.cantores-text{
 padding-top: 200px;
 padding-right: 150px;
  margin-right: 50px;
}

.cantores-text p{
  margin-left: -300px ;
}
.cantores2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: black;
  color: #ffffff;
  width: 100%;
  height: 100vh;
}

.cantores2-img img{
  padding-top: 150px;
  max-width: 100%;
  height: 500px;
  
}
.cantores2-text{
 padding-top: 200px;
 padding-right: 150px;
  margin-right: 50px;
}

.cantores2-text p{
  margin-left: -300px ;
}

